<div class="container">
  <div class="row no-gutters mt-5  justify-content-between">
    <div class="col-sm-5 my-3 py-3 order-2">
      <h2 class="display-4 text-uppercase font-weight-bolder">You Think, We Create</h2>

      <p class="lead">
        In this business, we are supposed to make your dreams come true.
        We are the worker bees in your hive. Our duty is to ensure that your
        business thrives with advancement of technology in this digital age.
      </p>
      <p class="lead">
        That way you are free to continue with growing your business and 
        coming up with more innovative weays to stay ahead.
      </p>
    </div>

    <div class="col-sm-7 bg-light order-1 ml-n5 custom-margin-left">
      <img class="value-image" src="https://images.unsplash.com/photo-1474631245212-32dc3c8310c6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1981&q=80">
    </div>
  </div>
  <div class="row mt-5  justify-content-between">
    <div class="col-sm-5 align-self-center">
      <h2 class="display-4 text-uppercase font-weight-bolder">Growth Not Sustainance</h2>

      <p class="lead">
        We have been in this concrete jungle for a long while and we know our 
        terrain. We are small and nimbel enough to adjust to our client needs 
        and demands and still big enough to think of unique ways to make them not
        only survive in business but thrive in it.

      </p>
      <p class="lead">
        Our efforts and concerns are in making Afrika great again and return us 
        to the super power we once were. And we are doing it one(1) byte at a time.
      </p>
    </div>

    <div class="col-sm-7 custom-margin-right align-self-center">
      <img class="value-image" src="https://images.unsplash.com/photo-1500021804447-2ca2eaaaabeb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80">
    </div>
  </div>
</div>